

h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-top: 40px;
}

body {
  height: 950px;
}

#page-descrip {
  font-size: 20px;
  font-family: 'Roboto';
  margin-top: 25px;
}

.main-content {
  margin-top: 20px;
  height: 100%;

}

#chart {
    margin-left: 0px;
    margin-right: 20px;
    height: 506px;
}

#sliders-wrapper {
  float: left;
  margin-left: 10%;
  width: 45%;
  height: 100%;
}

.sliders-svg {
  width: 100%;
  height: 100%;

}

.success-svg {
  margin-left: 100px;
  width: 600px;
  height: 60%;
}

.success-vis {
  width: 100%;
  height: 50%;
}

#success-wrapper{
    float: right;
    justify-content: center;
    width: 40%;
    height: 100%;
}

.selects {
  margin-left: 100px;
}

.selector {
  float: left;
  margin: 10px;
  margin-right: 40px;
  font-size: 20px;
}

.slider {
  position: relative;
  top: 40px;
  left: 40px;
}

.slider-tray {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
  stroke-linecap: round;
}

.tray-inset {
  stroke: #ddd;
  stroke-width: 8px;
  stroke-linecap: round;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

text, font{
    font-family: 'Roboto';

}

.select-label {
  font-size: 20px;
  float: left;
  font-family: 'Roboto';
}

.slider-label {
  font-size: 20px;
}

.slider-group {
  margin: 10px;
}

.group-label {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Roboto';
  margin: 0px;
}

.slider-result {
  font-size: 30px;
  stroke: rgb(31, 119, 180);
}

.predict-label {
  font-size: 160px;
  font-weight: bold;
}

.predict-button {
  margin-left: 100px;
  font-size: 30px;
  background-color: #555555;
  color: white;
  padding: 15px 32px;
}
